{%- style -%}
  .hello-section-wrapper {
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
  }
  .hello-section-title {
    color: blue;
  }
  .event-details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eee;
    background-color: #fff;
  }
  .event-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .column {
    width: 50%;
  }
{%- endstyle -%}

<div id="event-details-section">
  <div class="hello-section-wrapper">
    <div class="column">
      <div>
        {% if product.selected_or_first_available_variant.metafields.custom.event_details %}
          <div class="event-details">
            {{ product.selected_or_first_available_variant.metafields.custom.event_details | metafield_tag }}
          </div>
        {% else %}
          <p>No event details available for the selected variant.</p>
        {% endif %}
      </div>
    </div>
    <div class="column">
      <img
        class="event-image"
        src="{{  product.selected_or_first_available_variant.metafields.custom.event_image | image_url: width: 800 }}"
        alt="{{ product.selected_or_first_available_variant.metafields.custom.event_image.alt | escape }}"
        loading="lazy"
        width="{{ product.selected_or_first_available_variant.metafields.custom.event_image.width }}"
        height="{{ product.selected_or_first_available_variant.metafields.custom.event_image.height }}"
      >
    </div>
  </div>
</div>

<script></script>

{% schema %}
{
  "name": "Event Details",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Event Details"
    }
  ]
}
{% endschema %}
